@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme(colors.neutral.900);
    color: theme(colors.slate.100);
  }
}

@layer utilities {
  .dark {
    color-scheme: dark;
  }
}